@media screen and (max-width: 1660px) {
  /* 추천 맛집 */
  .market-best {
    padding-left: 30px;
  }
  .market-best-left {
    width: 280px;
    padding: 30px 10px 40px 10px;
  }
  .prev-best::after {
    right: -120px;
  }
  /* 지역 축제 */
  .local-festival {
    padding-left: 30px;
  }
  .local-festival-left {
    width: 280px;
    padding: 30px 10px 40px 10px;
  }
  .prev-best::after {
    right: -120px;
  }
}
@media screen and (max-width: 1470px) {
  .market-content-right-top span:last-child {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  /* 추천 맛집 스와이퍼 버튼 */
  .prev-best::after {
    right: -110px;
  }
}
@media screen and (max-width: 1250px) {
  .container {
    padding: 0px 20px;
  }
  /* 추천 맛집 */
  .market-best .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .market-best {
    padding-left: 20px;
  }
  .market-best-left {
    width: 280px;
    padding: 30px 10px 40px 10px;
  }
  /* 지역 축제 */
  .local-festival .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .local-festival {
    padding-left: 20px;
  }
  .local-festival-left {
    width: 280px;
    padding: 30px 10px 40px 10px;
  }
}
/* ================================================================================= */
@media screen and (max-width: 1200px) {
  .market-info-contents {
    margin: 0 20px;
  }
}
@media screen and (max-width: 1186px) {
  #gyeongbuk .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #chungnam .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1179px) {
  #chungbuk .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1164px) {
  #jeju .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1149px) {
  #sejong .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1145px) {
  #jeonbuk .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1127px) {
  #seoul .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #jeonnam .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1109px) {
  #ulsan .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #gyeonggi .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #daejeon .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1106px) {
  .market-adr {
    font-size: 1.3rem;
  }
  .market-content-info {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1068px) {
  #incheon .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #chungnam .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #jeonbuk .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1049px) {
  #busan .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1045px) {
  #jeju .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1027px) {
  #gyeongnam .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #gangwon .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #daejeon .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1009px) {
  #daegu .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #gwangju .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .wrap {
    margin-top: 80px;
  }
  /* 헤더 */
  .header > .container > .inner {
    height: 80px;
  }
  .hd-logo {
    width: 180px;
    margin-top: 5px;
  }
  .nav > .menu-list > li a {
    font-size: 1.8rem;
  }
  /* 마이 페이지 */
  .hd-right {
    width: 200px;
  }
  .hd-right > .my-list > li > button > i {
    font-size: 1.8rem;
    position: absolute;
    left: -8px;
  }
  .hd-right > .my-list > li a {
    font-size: 1.8rem;
  }
  .hd-right > .my-list > li:nth-child(1)::after {
    height: 18px;
    position: absolute;
    top: 52%;
  }
  .header > .search > .container {
    top: -80px;
  }
  .hd-right > .my-list > li > a > i {
    font-size: 2.3rem;
  }
  /* 추천 맛집 */
  .market-best-left {
    width: 250px;
    padding: 30px 10px 40px 10px;
  }
  .market-best .title {
    font-size: 2.6rem;
  }
  .market-info-left-title p {
    font-size: 1.2rem;
    line-height: 1.3;
  }
  .prev-best::after {
    font-size: 2.3rem;
    right: -100px;
  }
  .next-best::after {
    font-size: 2.3rem;
  }
  /* 지역 축제  */
  .local-festival-left {
    width: 250px;
    padding: 30px 10px 40px 10px;
  }
  .local-festival .title {
    font-size: 2.6rem;
  }
  .local-festival-left-title-top p {
    font-size: 1.2rem;
    line-height: 1.3;
  }
  .prev-festival::after {
    font-size: 2.3rem;
    right: -110px;
  }
  .next-festival::after {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 991px) {
  #incheon .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #daegu .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #gwangju .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 987px) {
  .market-content-right-top {
    gap: 7px;
  }
}
@media screen and (max-width: 980px) {
  /* 시장 소개 스와이퍼 */
  .prev-local-name {
    left: 21%;
  }
}
@media screen and (max-width: 967px) {
  .market-adr {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  .market-content-info {
    font-size: 1.1rem;
  }
  .market-content-right-top p {
    font-size: 1.4rem;
    font-weight: bold;
  }
}
/* ========================================================================== */
@media screen and (max-width: 960px) {
  /* 시장 소개 */
  .market-content {
    flex-direction: column;
    align-items: center;
  }
  .market-content-right-top span {
    display: block;
  }
  .market-content1,
  .market-content2 {
    width: 100%;
  }
  .market-content-right-top span:last-child {
    display: block;
  }
  #gyeongbuk .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #chungnam .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #chungbuk .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #jeju .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #jeonbuk .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #sejong .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #seoul .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #jeonnam .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #ulsan .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #gyeonggi .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #daejeon .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #incheon .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #chungnam .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #jeonbuk .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #busan .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #jeju .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #gyeongnam .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #gangwon .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #daejeon .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #daegu .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #gwangju .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #incheon .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #daegu .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  #gwangju .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: block;
  }
  .market-content-right-top {
    gap: 10px;
  }
  .market-content-right-top p {
    font-size: 2rem;
  }
  .market-adr {
    font-size: 1.6rem;
    margin: 20px 0;
  }
  .market-content-info {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 880px) {
  /* 로고 */
  .hd-logo {
    width: 160px;
    margin-top: 10px;
  }

  .nav > .menu-list > li a {
    font-size: 1.6rem;
  }
  /* 마이 페이지 */
  .hd-right {
    width: 160px;
  }
  .hd-right > .my-list > li > button > i {
    font-size: 1.6rem;
    position: absolute;
    left: -12px;
  }
  .hd-right > .my-list > li a {
    font-size: 1.6rem;
  }
  .hd-right > .my-list > li a img {
    width: 23px;
    height: 23px;
  }
  .hd-right > .my-list > li:nth-child(1)::after {
    height: 16px;
    position: absolute;
    top: 52%;
    left: 38%;
  }
  .hd-right > .my-list > li > a > i {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 840px) {
  /* 검색 하단 */
  .header .search .search-content-bot .search-hot {
    gap: 25%;
  }
  .mb-header .search .search-content-bot .search-hot {
    gap: 25%;
  }
}
@media screen and (max-width: 835px) {
  .market-content-right-top p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 805px) {
  .market-content-right-top span:last-child {
    display: none;
  }
}
@media screen and (max-width: 790px) {
  /* 헤더 */
  .header {
    display: none;
  }
  .mb-header {
    display: block;
  }
  .mb-header .search .container .inner .search-contents {
    padding: 20px 0px 0 00px;
  }
  /* 시장 소개 스와이퍼 */
  .sw-local-container {
    margin: auto;
    width: 90%;
  }
  .prev-local-name {
    left: 1%;
    margin-left: 0px;
  }
  .next-local-name {
    right: 2%;
  }
}
@media screen and (max-width: 770px) {
  .mb-search-cont-input {
    width: 630px;
  }
}
@media screen and (max-width: 740px) {
  /* 추천맛집 */
  .market-best-left {
    width: 230px;
    padding: 30px 10px 40px 10px;
  }
  .market-best .title {
    font-size: 2.4rem;
  }
  .market-info-left-title p {
    font-size: 1rem;
    line-height: 1.3;
  }
  .market-info-left-title-top img {
    width: 80px;
  }
  .prev-best::after {
    right: -70px;
  }
  /* 지역 축제 */
  .local-festival-left {
    width: 230px;
    padding: 30px 10px 40px 10px;
  }
  .local-festival .title {
    font-size: 2.4rem;
  }
  .local-festival-left-title-top p {
    font-size: 1rem;
    line-height: 1.3;
  }
  .local-festival-left-title-top img {
    width: 80px;
  }
  .prev-festival::after {
    left: 90px;
  }
}
@media screen and (max-width: 730px) {
  .mb-search-cont-input {
    width: 570px;
  }
}
@media screen and (max-width: 700px) {
  .market-content-info {
    font-size: 1.3rem;
  }
  .market-content-right-top p {
    font-size: 1.7rem;
  }
  .market-adr {
    font-size: 1.5rem;
    margin: 15px 0;
  }
  .market-content-right-top {
    gap: 7px;
  }
}
@media screen and (max-width: 680px) {
  /* 모바일 검색바 */
  .mb-search-cont {
    width: 400px;
  }
  .mb-search-cont-input {
    width: 550px;
  }
}
@media screen and (max-width: 640px) {
  .mb-search-cont-input {
    width: 500px;
  }
}
@media screen and (max-width: 630px) {
  /* 지역 축제 */
  .festival-img img {
    height: 340px;
    /* height: auto; */
  }
}
@media screen and (max-width: 610px) {
  .market-content-info {
    font-size: 1.2rem;
  }
  .market-content-right-top p {
    font-size: 1.6rem;
  }
  .market-adr {
    font-size: 1.3rem;
    margin: 15px 0;
  }
  .market-content-right-top {
    gap: 6px;
  }
}
@media screen and (max-width: 600px) {
  /* 헤더 */
  .mb-header > .mb-menu-contents {
    width: 350px;
  }
  .mb-header > .mb-menu-contents > .mb-menu-xBt {
    font-size: 3.6rem;
  }
  /* 모바일 검색바 */
  .mb-search-cont {
    width: 350px;
  }
  .mb-search-cont-input {
    width: 450px;
  }
}
@media screen and (max-width: 610px) {
  .market-content-right-top p {
    font-size: 1.5rem;
  }
  .market-content-right-top {
    gap: 5px;
  }
  /* 시장 소개 스와이퍼  */
  .prev-local-name:after,
  .next-local-name:after {
    font-size: 1.6rem;
    font-weight: bold;
  }
}
@media screen and (max-width: 570px) {
  /* 헤더 검색 */
  .mb-header .search .container .inner .search-contents {
    padding: 30px 0px 0 0px;
  }
  /* 검색 상단 */
  .mb-header .search .search-contents .search-content-top input {
    font-size: 1.6rem;
  }
  input::placeholder {
    font-size: 1.6rem;
  }
  .mb-header .search .search-contents .search-content-top i {
    font-size: 1.6rem;
  }
  /* 검색 중간 */
  .mb-header .search .search-content-mid p {
    font-size: 1.6rem;
  }
  .mb-header .search .search-content-mid .search-s {
    font-size: 1.2rem;
  }
  /* 검색 하단 */
  .mb-header .search .search-content-bot-top p {
    font-size: 1.6rem;
  }
  .mb-header .search .search-content-bot-top .search-s {
    font-size: 1.2rem;
  }
  .mb-header .search .search-content-bot .search-hot .search-hot-list-left {
    font-size: 1.4rem;
  }
  .mb-header .search .search-content-bot .search-hot .search-hot-list-right {
    font-size: 1.4rem;
  }
  /* 시장 소개 tag */
  #chungnam .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #chungbuk .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #gyeongbuk .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 555px) {
  #sejong .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #jeju .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  #seoul .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #jeonbuk .market-content2 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #jeonnam .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  .mb-header > .container > .inner > .logo > a > img {
    width: 50px;
    height: 50px;
  }
  .mb-search-cont-input {
    width: 400px;
  }
}
@media screen and (max-width: 535px) {
  #ulsan .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #daejeon .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #gyeonggi .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #chungbuk .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
  #jeonbuk .market-content1 .market-content-right-top span:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  /* 모바일 헤더 */
  .mb-header > .mb-menu-contents {
    width: 300px;
  }
  .mb-header > .mb-menu-contents > .mb-my-list img {
    width: 40px;
  }
  .mb-header > .mb-menu-contents > .mb-my-list > a > span {
    margin: 0 5px 0 15px;
    font-size: 1.8rem;
  }
  .mb-header > .mb-menu-contents > .mb-my-list > a i {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  .mb-header > .mb-menu-contents > .mb-menu-list > li > a {
    font-size: 1.8rem;
  }
  .go-join a span {
    left: 55px;
  }
  .mb-header > .mb-menu-contents > .mb-menu-xBt {
    font-size: 3.4rem;
  }
  /* 시장 소개 */
  .market-content1,
  .market-content2 {
    padding: 30px 10px 40px 10px;
  }
}
@media screen and (max-width: 510px) {
  /* 지역 축제 */
  .festival-img img {
    /* height: 340px; */
    height: 100%;
  }
  /* 시장 소개 스와이퍼 */
  .next-local-name {
    right: 3%;
  }
  .sw-local-container {
    width: 85%;
  }
}
@media screen and (max-width: 500px) {
  /* 시장 소개 */
  .market-content-right-top span {
    display: none !important;
  }
  .market-content-right-top p {
    font-size: 1.6rem;
  }
  .market-adr {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  .market-content-info {
    display: -webkit-box;
    font-size: 1.1rem;
    text-overflow: ellipsis; /* 말줄임 표시 (...) 추가 */
    max-width: 100%; /* 최대 너비 설정 (넘치는 것은 말줄임 표시) */
    overflow: hidden; /* 넘치는 것은 안보이게 설정 */
    height: 100px; /* 최대 높이 설정 (넘치는 것은 말줄임 표시) */
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  /* 모바일 검색바 */
  .mb-search-cont {
    width: 300px;
  }
  .mb-search-cont-input {
    width: 350px;
  }
}
@media screen and (max-width: 450px) {
  /* .wrap {
    margin-top: 120px;
  } */
  /* 450 모바일 헤더 */
  /* .mb-header{
    display: none;
  } */
  /* .mb-header-450{
    display: block;
  } */
  /* 추천 맛집 */
  .market-best-left {
    width: 160px;
    padding: 30px 5px 40px 0px;
  }
  .market-info-left-title-top img {
    width: 70px;
  }
  .prev-best::after {
    right: -40px;
  }
  /* 지역 축제 */
  .local-festival-left {
    width: 160px;
    padding: 30px 5px 40px 0px;
  }
  .local-festival-left-title-top img {
    width: 55px;
  }
  .prev-festival::after {
    left: 50px;
  }
  /* 시장 소개 */
  .market-content1,
  .market-content2 {
    gap: 10px;
  }
  /* 모바일 검색바 */
  /* .mb-header {
    display: none;
  } */
  /* 모바일 검색바 */
  .mb-search-cont {
    width: 250px;
  }
  .mb-search-cont-input {
    width: 300px;
  }
}
@media screen and (max-width: 430px) {
  /* 모바일 헤더 */
  .mb-header > .mb-menu-contents {
    width: 250px;
    padding-left: 30px;
  }
  .mb-header > .mb-menu-contents > .mb-my-list img {
    width: 35px;
  }
  .mb-header > .mb-menu-contents > .mb-my-list > a > span {
    margin: 0 5px 0 15px;
    font-size: 1.6rem;
  }
  .mb-header > .mb-menu-contents > .mb-my-list > a i {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .go-join a span {
    left: 50px;
  }
  .mb-header > .mb-menu-contents > .mb-menu-xBt {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 400px) {
  /* 추천 맛집 */
  .sw-festival .swiper-slide {
    padding: 20px 10px;
  }
  /* 지역 축제 */
  .sw-best .swiper-slide {
    padding: 20px 10px;
  }
  /* 시장 소개 */
  .market-contents {
    gap: 30px;
  }
  .mb-search-cont {
    width: 230px;
  }
  .mb-search-cont-input {
    width: 250px;
  }
}
@media screen and (max-width: 390px) {
  .mb-search-cont {
    width: 210px;
  }
  .mb-search-cont-input {
    width: 250px;
  }
}
@media screen and (max-width: 380px) {
  /* 모바일 헤더 */
  .mb-header .search .search-content-bot .search-hot {
    padding: 15px 18px;
  }
  /* 검색 상단 */
  .mb-header .search .search-contents .search-content-top input {
    font-size: 1.5rem;
  }
  input::placeholder {
    font-size: 1.5rem;
  }
  .mb-header .search .search-contents .search-content-top i {
    font-size: 1.5rem;
  }
  /* 검색 중간 */
  .mb-header .search .search-content-mid p {
    font-size: 1.5rem;
  }
  /* 검색 하단 */
  .mb-header .search .search-content-bot-top p {
    font-size: 1.5rem;
  }
  .mb-header .search .search-content-bot-top .search-s {
    font-size: 1rem;
  }
  .mb-header .search .search-content-bot .search-hot .search-hot-list-left {
    font-size: 1.3rem;
  }
  .mb-header .search .search-content-bot .search-hot .search-hot-list-right {
    font-size: 1.3rem;
  }
  .mb-header .search .search-content-bot .search-hot {
    gap: 20%;
  }
  /* 추천 맛집 */
  .market-best {
    padding-left: 5px;
  }
  .local-festival {
    padding-left: 5px;
  }
}
@media screen and (max-width: 370px) {
  /* 추천 맛집 */
  .market-best-left {
    width: 130px;
  }
  .market-info-left-title-top img {
    width: 50px;
  }
  .market-best .title {
    font-size: 2rem;
  }
  .market-info-left-title p {
    font-size: 1rem;
    line-height: 1.3;
  }
  .sw-best .swiper-slide {
    margin: 30px 0 25px 0.5%;
  }
  .prev-best::after {
    font-size: 2rem;
    right: -20px;
  }
  .next-best::after {
    font-size: 2rem;
  }
  /* 지역 축제 */
  .local-festival-left {
    width: 130px;
  }
  .local-festival-left-title-top img {
    width: 45px;
  }
  .local-festival .title {
    font-size: 2rem;
  }
  .local-festival-title p {
    font-size: 1rem;
    line-height: 1.3;
  }
  .sw-festival .swiper-slide {
    margin: 30px 0 25px 0.5%;
  }
  .prev-festival::after {
    font-size: 2rem;
    left: 30px;
  }
  .next-festival::after {
    font-size: 2rem;
  }
}
@media screen and (max-width: 360px) {
  /* 모바일 헤더 450 */
  .mb-header-450 > .mb-menu-contents-450 {
    width: 220px;
    padding-left: 30px;
  }
  .mb-header-450 > .mb-menu-contents-450 > .mb-my-list-450 img {
    width: 35px;
  }
  .mb-header-450 > .mb-menu-contents-450 > .mb-my-list-450 > a > span {
    margin: 0 5px 0 15px;
    font-size: 1.6rem;
  }
  .mb-header-450 > .mb-menu-contents-450 > .mb-my-list-450 > a i {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .go-join-450 a span {
    left: 50px;
  }
  .mb-header-450 > .mb-menu-contents-450 > .mb-menu-xBt-450 {
    font-size: 3rem;
  }
  /* 모바일 검색바 */
  .mb-search-cont {
    width: 180px;
  }
  .mb-search-cont-input {
    width: 230px;
  }
}
@media screen and (max-width: 340px) {
  /* 추천 맛집 */
  .market-best-left {
    padding: 30px 2px 40px 0px;
  }
  /* 지역 축제 */
  .local-festival-left {
    padding: 30px 2px 40px 0px;
  }
}
@media screen and (max-width: 330px) {
  /* 추천 맛집 */
  .sw-best .swiper-slide {
    padding: 20px 5px;
    margin: 30px 0 25px 0.7%;
  }
  /* 지역 축제 */
  .sw-festival .swiper-slide {
    padding: 20px 5px;
    margin: 30px 0 25px 0.7%;
  }
  /* 모바일 검색바 */
  .mb-search-cont {
    width: 160px;
  }
  .mb-search-cont-input {
    width: 220px;
  }
}
